.contact{
    display: flex;
    flex-direction: row;
    height: auto;
    color:black;
    max-width: 100%;
}
.contact-img {
    width: 50%;
    height: auto;
    
}
.contact-img img{
    width: 50%;
    margin-left: 200px;
    margin-top: 20px;
}
.Form{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
}
.Form form{
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-right: 60px;
}
input{
    margin: 10px;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border:solid 1px #545AE8;
    outline: none;
    font-size: 20px;
    /* background: rgba(200, 218, 164, 0.527); */
}
textarea{
    margin: 10px;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border:solid 1px #545AE8;
    outline: none;
    font-size: 20px;
    /* background: rgba(200, 218, 164, 0.527); */
}
.Form form button{
    width: 60%;
    height:40px;
    border-radius: 20px;
    background-color: #545AE8;
}
.contact-info{
    left: 0;
    top:1200px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    background: #545AE8;

}
