
.navbar {
    list-style-type: none;
    background: var(--background-color);
    position: fixed;
    top: 0;
    width:100%;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    z-index: 2;
}
.navbar.dark{
    --background-color: rgb(20, 9, 9);
}
.navbar.light{
    --background-color: rgb(236, 221, 221);
}
.logo{
    font-size: 10px;
    width:100px;
}

.toggle{
    display:flex;
    flex-direction: row;
    padding: 10px;;
}
.toggle-icon{
    padding-top: 15px;
    padding-right: 15px;
    width: 40px;
    height: 40px;
    font-size: 10px;
    cursor: pointer;
    align-items: center;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.links a{
    padding-left:20px;
    text-decoration: none;
    cursor: pointer;
    border-bottom:none;
    border-radius: 20px;
    text-align: center;
    padding: 10px 20px;
    margin-left:20px;
    font-size: 18px;
    font-weight: 600;
}
.links a:hover{
    background: rgb(236, 221, 221);
    color: black;
    border-bottom: rgb(110, 230, 184) solid 5px;
}


p{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color:rgb(195, 219, 219);
}

h1.light, h2.light, h3.light, h4.light, h5.light, h6.light{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding: 50px;
    --text-color:rgb(6, 7, 7);
}
h1.dark,h2.dark, h3.dark , h4.dark, h5.dark, h6.dark{
    --text-color:aliceblue;
}
h1,h2,h3,h4,h5,h6{
    color: var(--text-color);
}
p.dark{
    --text-color:white;
}
p.light{
    --text-color:rgb(6, 7, 7);
}
p{
    color: var(--text-color);
}
a.light{
    --text-color:rgb(6, 7, 7);
}
a.dark{
    --text-color:white;
}
a{
    color: var(--text-color);
}


/* mobile responsive */
